.control{
  z-index: 2;
  position: absolute;
  .btn_start{
    position: relative;
    width: 100px;
    height: 50px;
    background-color: chocolate;
    border-radius: 10px;
    box-shadow:0 10px 0 chartreuse;
    top: 0;
    transition: .1s linear;
    &:hover{
      top: 5px;
      box-shadow:0 5px 0 chartreuse;
      cursor: pointer;
    }
    p{
      color: white;
      text-align: center;
      font-size: 30px;
      padding: 5px ;
      text-shadow: 0 2px 0 black;
    }
  }
}
.message{
  position: absolute;
  bottom: 5%;
  left: 20%;
  z-index: 1;
  font-size: 5vmin;
  font-weight: bold;
  .show__message {
    color: red;
  }
}
