.map{
  position: relative;
}
.map__img{
  margin: 0 auto;
  display: block;
  width: 65%;
}
.map__zone{
  position: absolute;
  width: 40%;
  height: 70%;
  top: 10%;
  left: 27%;
  transition: .3s linear;
  border: 3px dashed black;
  opacity: 0.6;
  z-index: 2;
}
.zone_marker{
  position: absolute;
  width: 40%;
  height: 70%;
  top: 10%;
  left: 27%;

}
.marker{
  position: absolute;
  display: block;
  width: 15%;
  height: 15%;

}