@import "map";
@import "interface";
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}
body{
  background-color: black;
}
.page{
  position: relative;
  width: 1400px;
  margin: 0 auto;
}


.marker{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

