@import "map";
@import "interface";
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}
body{
  background-color: black;
}
.page{
  position: relative;
  width: 1400px;
  margin: 0 auto;
}




